<table class="striped">
  <thead>
    <tr>
      <th>Landing &rarr; MC</th>
      <th>MC &rarr; Landing</th>
      <th>MC &rarr; Romney</th>
      <th>MC &rarr; L-Lot</th>
      <th>Romney &rarr; Landing</th>
      <th>L-Lot &rarr; Landing</th>
    </tr>
  </thead>
  <tbody *ngIf="schedule === 'MWF'" >
    <tr *ngFor="let item of dataService.scheduleMWF[0].times; let i = index">
      <td>{{dataService.scheduleMWF[0].times[i]}}</td>
      <td>{{dataService.scheduleMWF[1].times[i]}}</td>
      <td>{{dataService.scheduleMWF[2].times[i]}}</td>
      <td>{{dataService.scheduleMWF[3].times[i]}}</td>
      <td>{{dataService.scheduleMWF[4].times[i]}}</td>
      <td>{{dataService.scheduleMWF[5].times[i]}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="schedule === 'TTh'" >
    <tr *ngFor="let item of dataService.scheduleTTh[0].times; let i = index">
      <td>{{dataService.scheduleTTh[0].times[i]}}</td>
      <td>{{dataService.scheduleTTh[1].times[i]}}</td>
      <td>{{dataService.scheduleTTh[2].times[i]}}</td>
      <td>{{dataService.scheduleTTh[3].times[i]}}</td>
      <td>{{dataService.scheduleTTh[4].times[i]}}</td>
      <td>{{dataService.scheduleTTh[5].times[i]}}</td>
    </tr>
  </tbody>
</table>
